:root {
  --primary-color: #000;
  --secondary-color: #c3a474;
  --dark-grey: #707070;
}

* {
  box-sizing: border-box;
}

.container {
  display: inline-block;
  font-family: "Abril Fatface", cursive;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-color);
  background-image: url("../mojo/images/confetti2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: var(--primary-color);
  width: 100%;
  margin: auto;
}

h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.8;
}

h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.7;
}

h3 {
  font-family: "Abril Fatface", cursive;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}

header {
  margin: 0 auto;
  padding-top: 20px;
  width: 60%;
  margin-top: 20px;
}

#married {
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0 5px;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  cursor: pointer;
}

a:active {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: auto;
  margin: auto;
  padding: 10px;
}

.main {
  margin: 0 auto;
  width: 60%;
}

.cassette {
  margin: 0 auto;
  width: 100%;
}

hr {
  width: 40%;
  margin-top: 57px;
  border: 1px solid #c3a474;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  padding: 10px;
}

.table {
  margin: 0 auto;
}

.q {
  font-family: "Abril Fatface", cursive;
  font-size: 18px;
  font-weight: 400;
  color: var(--secondary-color);
}

.a {
  font-family: "Abril Fatface", cursive;
  font-size: 18px;
  font-weight: 400;
  color: var(--secondary-color);
  padding-left: 15px;
  padding-bottom: 25px;
}

.qtext {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  padding-right: 10px;
}

.atext {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  padding: 0 10px 25px 15px;
}

td {
  padding: 5px 10px 0 0;
}

.details {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  max-height: 1450px;
  align-items: center;
}

.deet {
  border: 1px solid #c3a474;
  padding: 0 40px 20px;
  margin: 20px 0;
  border-radius: 10px;
  width: 45%;
  flex: 0 1 auto;
  background-color: #000;
}

.gifts {
  width: 85%;
  margin: auto;
}

.icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: auto;
  margin: auto;
}

.donations {
  margin-top: 30px;
  margin-bottom: 50px;
}

.fridge {
  float: left;
  width: 50%;
  border-radius: 10px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.travel {
  width: 100%;
  padding: 0 40px;
  align-items: stretch;
}

.travelsafety {
  margin: 20px auto;
  border: 1px solid #c3a474;
  border-radius: 10px;
  width: 90%;
  flex: 0 1 auto;
  padding: 0 40px 20px;
  background-color: #000;
}

ul.a {
  list-style-position: outside;
}

.travelinfo {
  margin: 20px auto;
  display: flex;
  width: 90%;
  flex: 0 1 auto;
  flex-flow: column wrap;
  max-height: 700px;
}

.travinfo {
  margin: 20px auto;
  border: 1px solid #c3a474;
  border-radius: 10px;
  width: 45%;
  flex: 0 1 auto;
  padding: 0 40px 20px;
  background-color: #000;
}

.windfo {
  width: 45%;
  margin: 20px auto;
  flex: 0 1 auto;
  background-color: #000;
}

.windpic {
  width: 100%;
  border-radius: 10px;
}

.allphotos {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  padding: 0 40px;
  max-height: 2000px;
  align-items: center;
}

.photo {
  margin: 20px;
  border-radius: 10px;
  width: 45%;
  flex: 0 1 auto;
}

@media all and (max-width: 450px) {
  .main {
    width: 90%;
  }

  #married {
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  h2 {
    font-size: 18px;
  }

  .title {
    padding: 5px;
  }

  #venmo {
    width: 72px;
    height: 72px;
  }

  #paypal {
    width: 60px;
    margin-bottom: 20px;
  }

  .travinfo {
    margin: 10px auto;
    border-radius: 8px;
    width: 90%;
    padding: 0 20px 10px;
    max-height: 100%;
  }

  .windfo {
    width: 90%;
    margin: 10px auto;
  }

  .allphotos {
    padding: 10px;
    max-height: 100%;
  }

  .photo {
    margin: 10px auto;
    border-radius: 8px;
    width: 90%;
  }

  .details {
    max-height: 100%;
  }

  .deet {
    padding: 0 20px 10px;
    margin: 10px auto;
    border-radius: 8px;
    width: 90%;
  }

  table {
    max-width: 90%;
  }
}

@media all and (min-width: 450px) and (max-width: 650px) {
  .main {
    width: 80%;
  }

  h2 {
    font-size: 20px;
  }

  ul {
    padding: 10px 10px 0 10px;
  }

  .travelinfo {
    margin: 10px auto;
    width: 90%;
    padding: 0 20px 10px;
    max-height: 100%;
  }

  .windfo {
    width: 90%;
    margin: 10px;
  }

  .allphotos {
    padding: 5px;
    max-height: 100%;
  }

  .photo {
    margin: 10px auto;
    width: 90%;
  }

  .details {
    max-height: 100%;
  }

  .deet {
    margin: 10px auto;
    width: 90%;
  }
}

@media all and (min-width: 650px) and (max-width: 860px) {
  .main {
    width: 80%;
  }

  h2 {
    font-size: 20px;
  }

  .travelinfo {
    margin: 10px auto;
    width: 90%;
    padding: 0 20px 10px;
    max-height: 100%;
  }

  .windfo {
    width: 90%;
    margin: 10px auto;
  }

  .allphotos {
    max-height: 100%;
  }

  .photo {
    margin: 10px auto;
    width: 90%;
  }

  .details {
    max-height: 100%;
  }

  .deet {
    padding: 0 20px 10px;
    margin: 10px auto;
    width: 90%;
  }
}

@media all and (min-width: 860px) and (max-width: 1200px) {
  .main {
    width: 70%;
  }

  .travelinfo {
    margin: 10px auto;
    width: 90%;
    padding: 0 20px 10px;
    max-height: 100%;
  }

  .travinfo {
    width: 90%;
    margin: 10px auto;
  }

  .windfo {
    width: 90%;
    margin: 10px auto;
  }

  .allphotos {
    padding: 0 20px;
    max-height: 1400px;
  }

  .details {
    max-height: 1400px;
  }

  .photo {
    margin: 10px auto;
  }
}

@media all and (min-width: 1200px) and (max-width: 1450px) {
  .allphotos {
    padding: 0 30px;
    max-height: 1500px;
  }

  .donations {
    margin-bottom: 80px;
  }

  .photo {
    margin: 15px;
  }
}

@media all and (min-width: 1450px) {
  .donations {
    margin-bottom: 160px;
  }

  .allphotos {
    max-height: 2200px;
  }
}
